.title {
    display: flex;
    flex: 0 80px;
    flex-direction: column;
    padding-bottom: 50px;
}

.main-body {
    display: flex;
    overflow-y: auto;
}

.description {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: rgb(68, 68, 68);
    overflow-wrap: break-word;
}

.description-submit {
    padding-top: 10px;
}

.comments {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: rgb(97, 51, 51);
}

.comment-list {
    overflow-y: auto;
    height: 10em;
}

.cd-header {
    padding-top: 10px;
    padding-bottom: 10px;
}

.submit-comment {
    padding: 20px;
}

@media (orientation: portrait) {
    .main-body {
      flex-direction: column;
    }
  }